<%= render :partial => 'header'%>
<% if current_user.role == "su"%>
	<%= render :partial => 'navigation_bar'%>
<%elsif current_user.role == "ru"%>
	<%= render :partial => 'org_admin_navigation_bar'%>
<%elsif current_user.role == "sub"%>
	<%= render :partial => 'org_admin_navigation_bar'%>
<% end %>

<div id="main_div" style="margin-left: 300px" align="middle">
	<% unless flash[:notice].blank?%>
		<div style="background-color: #cfcfcf; border: 1px solid;padding: 5px;margin: 10px 0"><%= flash[:notice]%></div>
	<% end %>
	<div id="new_org">
		
	</div>
	<div id="projects_div">
		
	</div>
	<div id="users_div">
		
	</div>
</div>
