<%= render :partial => 'users/header'%>
<% if current_user.role == "su"%>
	<%= render :partial => 'users/navigation_bar'%>
<%elsif current_user.role == "ru"%>
	<%= render :partial => 'users/org_admin_navigation_bar'%>
<%elsif current_user.role == "sub"%>
	<%= render :partial => 'users/org_admin_navigation_bar'%>
<% end %>

<div id="main_div" style="margin-left: 300px">
	<div id="generic_organization">
		
	</div>
	<div id="new_org">
		<% unless flash.now[:notice].blank?%>
			<div style="background-color: #cfcfcf; border: 1px solid;padding: 5px;margin: 10px 0"><%= flash[:notice]%></div>
		<% end %>
	</div>
	<div id="edit_org">
		
	</div>
	<div id="projects_div">
		
	</div>
	<div id="users_div">
		
	</div>
	<div align="right" id="org_options">
		
	</div>
</div>
