<script type="text/javascript">
	
</script>
<body style="background-color: #ffe6d0">
	<div style="width: 100%">
		<div style="width: 50%; padding: 10px">
			<div style="text-align: center; background-color: #e9e9c0"><h2>Add New User</h2></div>
			<div style="border: 1px solid #c6c6ff">
				<% form_for(:user, :url => users_path) do |f|%>
					<%= f.error_messages %>
					<table cellpadding="5px">
						<tr>
							<td><b>First Name : </b></td>
							<td><%= f.text_field :first_name, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr>
							<td><b>Last Name : </b></td>
							<td><%= f.text_field :last_name, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr>
							<td><b>Email : </b></td>
							<td><%= f.text_field :email, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr>
							<td><b>Role : </b></td>
							<td><%= select(:user, :role,[['Organization Admin', 'ru'],['Normal User','sub']],{:include_blank => true},
							:style=> "width:100px",:onchange => remote_function(:url => showdiv_path), :with => "'role=' + value")%></td>
						</tr>
						<tr>
							<td></td>
							<td><div id="new_user_div"></div></td>
						</tr>
						<tr>
							<td><b>Username : </b></td>
							<td><%= f.text_field :username, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr>
							<td><b>Password : </b></td>
							<td><%= f.password_field :password, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr>
							<td><b>Confirm Password : </b></td>
							<td><%= f.password_field :password_confirmation, :style => "width: 300px; height: 30px;font-size: large"%></td>
						</tr>
						<tr></tr>
						<tr>
							<td></td>
							<td><%= f.submit 'Create'%></td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</body>
