<h3>Editing project</h3>

<% form_for(@project, :url => organization_project_path(params[:organization_id],@project) ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

